WCFAdapter/ConsoleApp2/ConsoleApp2/Connected Services/ServiceBus/HighwaySBMonoPostgreSQLWcfService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/IIS.Persona.ServiceBus.Objects" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CreateClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoesEventRisen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EventTypeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoesEventRisenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoesEventRisenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentMessageCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentMessageCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCurrentMessageCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentThisTypeMessageCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MessageTypeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentThisTypeMessageCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCurrentThisTypeMessageCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageFromESB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MessageTypeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageFromESBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IIS.Persona.ServiceBus.Objects" minOccurs="0" name="GetMessageFromESBResult" type="q1:MessageFromESB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageTypeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IIS.Persona.ServiceBus.Objects" minOccurs="0" name="GetMessageInfoResult" type="q2:MessageOrderingInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageWithGroupFromESB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MessageTypeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageWithGroupFromESBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IIS.Persona.ServiceBus.Objects" minOccurs="0" name="GetMessageWithGroupFromESBResult" type="q3:MessageFromESB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageInfoWithGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageTypeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageInfoWithGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IIS.Persona.ServiceBus.Objects" minOccurs="0" name="GetMessageInfoWithGroupResult" type="q4:MessageOrderingInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageWithTagsFromESB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageTypeId" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tags" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageWithTagsFromESBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/IIS.Persona.ServiceBus.Objects" minOccurs="0" name="GetMessageWithTagsFromESBResult" type="q6:MessageFromESB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageInfoWithTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageTypeId" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tags" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageInfoWithTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/IIS.Persona.ServiceBus.Objects" minOccurs="0" name="GetMessageInfoWithTagsResult" type="q8:MessageOrderingInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RiseEventOnESB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EventTypeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RiseEventOnESBResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageToESB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/IIS.Persona.ServiceBus.Objects" minOccurs="0" name="message" type="q9:MessageForESB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageToESBResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageToESBWithUseGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/IIS.Persona.ServiceBus.Objects" minOccurs="0" name="message" type="q10:MessageForESB" />
        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageToESBWithUseGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeClientForEventCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EventTypeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeClientForEventCallbackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeClientForMessageCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MessageTypeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeClientForMessageCallbackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUp">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsUpResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewEvntType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/IIS.Persona.ServiceBus.Objects" minOccurs="0" name="evntType" type="q11:NameCommentStruct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewEvntTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewMsgType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/IIS.Persona.ServiceBus.Objects" minOccurs="0" name="msgType" type="q12:NameCommentStruct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewMsgTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvntTypesFromBus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvntTypesFromBusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/IIS.Persona.ServiceBus.Objects" minOccurs="0" name="GetEvntTypesFromBusResult" type="q13:ArrayOfNameCommentStruct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMsgTypesFromBus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMsgTypesFromBusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/IIS.Persona.ServiceBus.Objects" minOccurs="0" name="GetMsgTypesFromBusResult" type="q14:ArrayOfNameCommentStruct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientSubscribesForEvnts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientSubscribesForEvntsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientSubscribesForMsgs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientSubscribesForMsgsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/IIS.Persona.ServiceBus.Objects" minOccurs="0" name="msg" type="q15:MessageFromESB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RiseEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ИдТипаСобытия" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RiseEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSourceIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>