WCFAdapter/ConsoleApp1/ConsoleApp1/Connected Services/ServiceBus/HighwaySBMonoPostgreSQLWcfService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IIS.Persona.ServiceBus.Objects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IIS.Persona.ServiceBus.Objects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="MessageFromESB">
    <xs:sequence>
      <xs:element minOccurs="0" name="Attachment" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageFormingTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MessageTypeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Tags" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageFromESB" nillable="true" type="tns:MessageFromESB" />
  <xs:complexType name="MessageOrderingInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="FormingTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageOrderingInformation" nillable="true" type="tns:MessageOrderingInformation" />
  <xs:complexType name="MessageForESB">
    <xs:sequence>
      <xs:element minOccurs="0" name="Attachment" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageTypeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Tags" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageForESB" nillable="true" type="tns:MessageForESB" />
  <xs:complexType name="NameCommentStruct">
    <xs:sequence>
      <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NameCommentStruct" nillable="true" type="tns:NameCommentStruct" />
  <xs:complexType name="ArrayOfNameCommentStruct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NameCommentStruct" nillable="true" type="tns:NameCommentStruct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNameCommentStruct" nillable="true" type="tns:ArrayOfNameCommentStruct" />
</xs:schema>